.globalcontent {
    position: relative;
    height: auto;

    .opacitybutton {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px 0px 0px 25px;
        z-index: 999;
        cursor: pointer;

        button {
            background-color: transparent;
            border: none;
            outline: none;

            svg {
                color: #ffffff;
            }
        }
    }

    .contentimg {
        position: absolute;
        z-index: -9999;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #000000 100%);
        }
    }

    .usercontent {
        padding: 2rem 10rem;

        .userr {
            padding: 10px;
            border-radius: 10px;
            height: auto;
            transition: all 0.3s ease-in-out;

            &.hide {
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
            }

            .usernameandoption {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .username {
                    color: #ff7f00;
                    font-size: 1.2rem;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 0.9;
                    display: flex;
                    align-items: end;


                    .bi-person-circle {
                        margin-right: 3px;
                    }


                }

                .option {
                    font-size: 1.2rem;
                    font-weight: 500;
                    font-style: normal;

                    button {
                        color: #ffffff;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        transition: all 0.3s ease-in-out;
                        line-height: 0.9;
                        display: flex;
                        align-items: end;

                        &:hover {
                            color: #ff7f00;
                        }

                        .bi-gear {
                            margin-right: 3px;
                        }
                    }
                }
            }

            .modal {

                &.show .modal-dialog {
                    transform: translateY(0);
                    opacity: 1;
                }

                .modal-dialog {
                    transition: transform 0.3s ease-out, opacity 0.3s ease;
                    transform: translateY(-20px);
                    opacity: 0;

                    .buttons {

                        button {
                            background: transparent;
                            border: none;
                            border-bottom: 2px solid white;
                            color: white;
                            margin: 0px 5px;
                            font-size: 16px;
                            cursor: pointer;
                            transition: border-color 0.3s ease, color 0.3s ease;

                            &:hover {
                                border-bottom: 2px solid #ff7f00;
                            }

                            &.active {
                                border-bottom: 2px solid #ff7f00;
                                color: #ff7f00;
                            }
                        }

                    }

                    .content-texttt {
                        display: none;

                        &.active {
                            display: block;
                            color: #fff;
                        }

                        .user {
                            padding: 10px;

                            .pictureandabout {
                                width: 100%;
                                display: flex;
                                flex-direction: column;

                                .picture {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    .image {
                                        width: 220px;
                                        height: 220px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                        border: 2px solid #ffffff;
                                    }

                                    .buttons {
                                        margin: 10px 0px;
                                        display: flex;
                                        justify-content: center;

                                        .updatebtn {
                                            padding: 5px;
                                            border: 2px solid #ffffff;
                                            background: transparent;
                                            border-radius: 10px;
                                            width: 108px;
                                            color: #ffffff;
                                            transition: all 0.2s ease-in-out;

                                            &:hover {
                                                background-color: #ffffff;
                                                color: #000000;
                                            }
                                        }

                                        .deletebtn {
                                            padding: 5px;
                                            border: 2px solid #ffffff;
                                            background: transparent;
                                            border-radius: 10px;
                                            width: 108px;
                                            color: #ffffff;
                                            transition: all 0.2s ease-in-out;

                                            &:hover {
                                                background-color: #ffffff;
                                                color: #000000;
                                            }
                                        }
                                    }



                                    input[type="file"] {
                                        border: 2px solid #ffffff;
                                        border-radius: 10px;
                                        background-color: transparent;
                                        color: #ffffff;
                                        max-width: 240px;
                                    }

                                    input[type="file"]::-webkit-file-upload-button {
                                        background-color: #ffffff;
                                        color: #000000;
                                        border: none;
                                        cursor: pointer;
                                        width: 220px;
                                    }

                                    input[type="file"]::file-selector-button {
                                        background-color: #ffffff;
                                        color: #000000;
                                        padding: 5px;
                                        border: none;
                                        cursor: pointer;
                                    }
                                }

                                .background {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    margin-top: 10px;

                                    .image {
                                        width: 100%;
                                        height: auto;
                                        object-fit: cover;
                                        border-radius: 10px;
                                        border: 2px solid #ffffff;
                                    }

                                    .buttons {
                                        margin: 10px 0px;
                                        display: flex;
                                        justify-content: center;

                                        .updatebtn {
                                            padding: 5px;
                                            border: 2px solid #ffffff;
                                            background: transparent;
                                            border-radius: 10px;
                                            width: 108px;
                                            color: #ffffff;
                                            transition: all 0.2s ease-in-out;

                                            &:hover {
                                                background-color: #ffffff;
                                                color: #000000;
                                            }
                                        }

                                        .deletebtn {
                                            padding: 5px;
                                            border: 2px solid #ffffff;
                                            background: transparent;
                                            border-radius: 10px;
                                            width: 108px;
                                            color: #ffffff;
                                            transition: all 0.2s ease-in-out;

                                            &:hover {
                                                background-color: #ffffff;
                                                color: #000000;
                                            }
                                        }
                                    }



                                    input[type="file"] {
                                        border: 2px solid #ffffff;
                                        border-radius: 10px;
                                        background-color: transparent;
                                        color: #ffffff;
                                        max-width: 240px;
                                    }

                                    input[type="file"]::-webkit-file-upload-button {
                                        background-color: #ffffff;
                                        color: #000000;
                                        border: none;
                                        cursor: pointer;
                                        width: 220px;
                                    }

                                    input[type="file"]::file-selector-button {
                                        background-color: #ffffff;
                                        color: #000000;
                                        padding: 5px;
                                        border: none;
                                        cursor: pointer;
                                    }
                                }

                                .text {
                                    width: 100%;
                                    margin-top: 10px;

                                    .title {
                                        color: #ffffff;
                                        font-size: 1rem;
                                        font-weight: 500;
                                        font-style: normal;
                                    }

                                    textarea {
                                        background-color: transparent;
                                        border: 2px solid #ffffff;
                                        border-radius: 10px;
                                        color: #ffffff;
                                        outline: none;
                                        padding: 5px;
                                        width: 100%;
                                        height: 150px;
                                        resize: vertical;
                                    }
                                }
                            }

                            .otherdata {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                margin-top: 5px;

                                .box {
                                    width: 100%;
                                    margin: 10px 0px;

                                    .title {
                                        color: #ffffff;
                                        font-size: 1rem;
                                        font-weight: 500;
                                        font-style: normal;
                                    }

                                    input {
                                        width: 100%;
                                        background-color: transparent;
                                        border: 2px solid #ffffff;
                                        padding: 5px;
                                        border-radius: 10px;
                                        color: #ffffff;
                                        outline: none;
                                    }

                                    .password-wrapper {
                                        position: relative;
                                        display: flex;
                                        align-items: center;

                                        input {
                                            flex: 1;
                                            padding-right: 40px;
                                            width: 100%;
                                            background-color: transparent;
                                            border: 2px solid #ffffff;
                                            padding: 5px;
                                            border-radius: 10px;
                                            color: #ffffff;
                                            outline: none;
                                        }

                                        .toggle-password {
                                            position: absolute;
                                            right: 10px;
                                            background: transparent;
                                            border: none;
                                            cursor: pointer;
                                            color: #ff7f00;
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }

                            .toggle {
                                margin-top: 5px;

                                .title {
                                    color: #ffffff;
                                    font-size: 1rem;
                                    font-weight: 500;
                                    font-style: normal;
                                }

                                /* From Uiverse.io by Muaz-Aldalil */
                                .toggle-checkbox {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    display: none;
                                }

                                .toggle-switch {
                                    background-color: gray;
                                    width: 78px;
                                    height: 32px;
                                    border-radius: 16px;
                                    position: relative;
                                    transition: 0.3s;
                                    cursor: pointer;
                                }

                                .toggle-switch::before {
                                    content: "";
                                    font-weight: 900;
                                    background-color: #000000;
                                    width: 24px;
                                    height: 24px;
                                    position: absolute;
                                    border-radius: 50%;
                                    top: 4px;
                                    left: 4px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #000000;
                                    transition: 0.3s;
                                }

                                .toggle-checkbox:checked+.toggle-switch {
                                    background-color: #ffffff;
                                }

                                .toggle-checkbox:checked+.toggle-switch::before {
                                    content: "";
                                    left: 50px;
                                    color: #ffffff;
                                }
                            }
                        }

                        .buttonw {
                            margin-top: 10px;

                            .save {
                                padding: 5px;
                                border: 2px solid #ffffff;
                                background-color: transparent;
                                color: #ffffff;
                                border-radius: 10px;
                                width: 100px;
                                transition: all 0.2s ease-in-out;

                                &:hover {
                                    background-color: #ffffff;
                                    color: #000000;
                                }
                            }
                        }

                        .search {
                            position: relative;
                            width: 100%;
                            margin: 0px;

                            .bi-search {
                                position: absolute;
                                color: #ffffff;
                                top: 7px;
                                left: 5px;
                            }

                            input {
                                background-color: #252525;
                                outline: none;
                                border: none;
                                padding: 7px 7px 7px 35px;
                                color: #ffffff;
                                width: 100%;
                                border-radius: 5px;
                            }
                        }

                        .users {
                            max-height: 410px;
                            width: 100%;
                            color: #ffffff;
                            margin-top: 15px;

                            .user {
                                text-decoration: none;
                                margin: 16px 0px;
                                padding: 0px;
                                width: 100%;
                                position: relative;
                                align-items: center;

                                img {
                                    height: 50px;
                                    width: 50px;
                                    object-fit: cover;
                                    border-radius: 50%;
                                }

                                .text {
                                    padding: 0px 6px;
                                    width: 70%;

                                    .title {
                                        color: #ffffff;
                                        font-size: 1rem;
                                        font-weight: 600;
                                        font-style: normal;
                                        line-height: 1.1;
                                    }

                                    .des {
                                        font-size: 0.9rem;
                                        font-weight: 400;
                                        color: #ccc;
                                    }
                                }

                                .userfollow {
                                    position: absolute;
                                    right: 10px;

                                    .bi-person-slash {
                                        margin-top: 50%;
                                        transform: translateY(-35%);
                                        color: #ff7f00;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .userdetail {
                margin-top: 20px;
                display: flex;

                .image {
                    min-width: 180px;
                    min-height: 180px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 140px;
                        height: 140px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .addfriend {
                        position: absolute;
                        top: 110px;
                        left: 115px;
                        border-radius: 50%;
                        width: 55px;
                        height: 55px;
                        background-color: #313131;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.3s ease-in-out;

                        .bi-person-fill-add {
                            color: #ff7f00;
                        }

                        &:hover .bi-person-fill-add {
                            color: #313131;
                        }

                        &:hover {
                            background-color: #ff7f00;
                        }
                    }
                }

                .about {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 180px;

                    .title {
                        display: flex;
                        align-items: end;
                        color: #ffffff;
                        line-height: 1.1;
                        font-size: 1rem;
                        font-weight: 600;

                        .bi-info-circle {
                            margin-right: 5px;
                        }

                    }

                    .des {
                        color: #ffffff;
                        width: 100%;
                        min-height: 100px;
                        max-height: 130px;
                        overflow: auto;
                        word-break: break-word;
                        line-height: 1.2;
                        margin: 8px 0px;
                    }

                    .other {
                        width: 100%;
                        display: flex;
                        height: 18px;
                        align-items: center;
                        color: #ffffff;

                        .date,
                        .favorite,
                        .watchlater,
                        .takipci {
                            display: flex;
                            align-items: end;
                            line-height: 1;
                            margin-right: 8px;

                            svg {
                                margin-right: 2px;
                            }
                        }

                        .takipci {
                            background-color: transparent;
                            border: none;
                            color: #ffffff;
                            transition: all 0.3;
                            display: flex;
                            align-items: end;
                            line-height: 1;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                color: #ff7f00;
                            }
                        }
                    }
                }


                .takipci-modal {

                    &.show .modal-dialog {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    .modal-dialog {
                        transition: transform 0.3s ease-out, opacity 0.3s ease;
                        transform: translateY(-20px);
                        opacity: 0;

                        .buttons {

                            button {
                                background: transparent;
                                border: none;
                                border-bottom: 2px solid white;
                                color: white;
                                margin: 0px 5px;
                                font-size: 16px;
                                cursor: pointer;
                                transition: border-color 0.3s ease, color 0.3s ease;

                                &:hover {
                                    border-bottom: 2px solid #ff7f00;
                                }

                                &.active {
                                    border-bottom: 2px solid #ff7f00;
                                    color: #ff7f00;
                                }
                            }

                        }

                        .content-textt {
                            display: none;

                            .title {
                                font-size: 1.1rem;
                                font-weight: 500;
                                font-style: normal;
                            }

                            &.active {
                                display: block;
                                color: #fff;
                            }
                        }
                    }

                    .modal-content {

                        .modal-body {

                            .search {
                                position: relative;
                                width: 100%;
                                margin: 10px 0px;

                                .bi-search {
                                    position: absolute;
                                    color: #ffffff;
                                    top: 7px;
                                    left: 5px;
                                }

                                input {
                                    background-color: #252525;
                                    outline: none;
                                    border: none;
                                    padding: 7px 7px 7px 35px;
                                    color: #ffffff;
                                    width: 100%;
                                    border-radius: 5px;
                                }
                            }

                            .users {
                                max-height: 435px;
                                width: 100%;
                                color: #ffffff;
                                margin: 15px 0px;

                                .user {
                                    text-decoration: none;
                                    margin: 16px 0px;
                                    width: 100%;
                                    position: relative;
                                    align-items: center;

                                    img {
                                        height: 50px;
                                        width: 50px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }

                                    .text {
                                        padding: 0px 6px;
                                        width: 70%;

                                        .title {
                                            color: #ffffff;
                                            font-size: 1rem;
                                            font-weight: 600;
                                            font-style: normal;
                                            line-height: 1.1;
                                        }

                                        .dess {
                                            font-size: 0.9rem;
                                            font-weight: 400;
                                            color: #ccc;
                                        }
                                    }

                                    .userfollow {
                                        position: absolute;
                                        right: 10px;

                                        .bi-person-fill-add {
                                            margin-top: 50%;
                                            transform: translateY(-35%);
                                            color: #ff7f00;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }

            .favoriteandwatch {
                width: 100%;
                margin-top: 50px;

                .head {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 8px;
                    margin-bottom: 10px;

                    .title {
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;

                        svg {
                            margin-right: 3px;
                        }
                    }

                    .all {

                        .allbtn {
                            display: flex;
                            align-items: center;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: #ffffff;
                            transition: all 0.3s ease-in-out;
                            font-size: 1rem;
                            font-weight: 500;
                            font-style: normal;

                            &:hover {
                                color: #ff7f00;
                            }

                            svg {
                                margin-right: 3px;
                            }
                        }
                    }
                }

                .splide {
                    position: relative;
                    z-index: 99;

                    .splide__list {
                        transition: all 0.3s ease-out;

                        .splide__slide {
                            display: flex;
                            justify-content: center;
                            width: 100%;

                            .anime {
                                text-decoration: none;
                                position: relative;
                                width: 100%;
                                height: auto;
                                border-radius: 10px;
                                margin: 0px 8px;

                                &:hover img {
                                    filter: brightness(1);
                                }

                                img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: auto;
                                    filter: brightness(0.6);
                                    border-radius: 10px;
                                    transition: all 0.3s ease-out;
                                }

                                .text {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    color: #fff;
                                    padding: 0px 5px 5px 5px;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;

                                    .title {
                                        font-size: 1rem;
                                        font-weight: 500;
                                        font-style: normal;
                                        width: 100%;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }
                    }
                }

                .modal-favoriteandwatch {

                    &.show .modal-dialog {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    .modal-dialog {
                        transition: transform 0.3s ease-out, opacity 0.3s ease;
                        transform: translateY(-20px);
                        opacity: 0;

                        .modal-content {

                            .modal-body {

                                .search {
                                    position: relative;
                                    width: 100%;
                                    margin: 10px 0px;

                                    .bi-search {
                                        position: absolute;
                                        color: #ffffff;
                                        top: 7px;
                                        left: 5px;
                                    }

                                    input {
                                        background-color: #252525;
                                        outline: none;
                                        border: none;
                                        padding: 7px 7px 7px 35px;
                                        color: #ffffff;
                                        width: 100%;
                                        border-radius: 5px;
                                    }
                                }

                                .animeler {
                                    max-height: 445px;
                                    width: 100%;
                                    color: #ffffff;
                                    margin: 10px 0px;

                                    .anime {
                                        text-decoration: none;
                                        margin: 0px 0px 15px 0px;

                                        img {
                                            height: 120px;
                                            object-fit: cover;
                                            border-radius: 5px;
                                        }

                                        .text {
                                            padding: 0px 6px;

                                            .title {
                                                color: #ffffff;
                                                font-size: 1rem;
                                                font-weight: 600;
                                                font-style: normal;
                                                line-height: 1.1;
                                            }

                                            .des {
                                                margin-top: 5px;
                                                font-size: 0.9rem;
                                                font-weight: 400;
                                                color: #ccc;
                                                line-height: 1;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }

            .activity {
                width: 100%;
                margin-top: 50px;

                .head {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 8px;
                    margin-bottom: 10px;

                    .title {
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;

                        svg {
                            margin-right: 3px;
                        }
                    }
                }

                .detail {
                    width: 100%;
                    height: auto;

                    a {
                        text-decoration: none;
                        color: #ffffff;
                        transition: background-color 0.3s ease-in-out;
                        display: flex;
                        border-radius: 10px;
                        margin: 16px 0px;
                        background-color: rgba(0, 0, 0, 0.3);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.5);
                        }

                        .box {
                            margin-right: 10px;

                            img {
                                width: 250px;
                                height: auto;
                                border-radius: 10px 0px 0px 10px;
                            }
                        }

                        .text {
                            width: 100%;
                            position: relative;

                            .title {
                                position: absolute;
                                top: 5px;
                                font-size: 1rem;
                                font-weight: 500;
                                color: #ff7f00;
                                font-style: normal;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                            }

                            .othername {
                                position: absolute;
                                top: 30px;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 0.9rem;
                                color: #ccc;

                                .bi-braces-asterisk {
                                    margin-top: -3px;
                                }
                            }

                            .date {
                                margin-top: 52px;
                                font-size: 0.9rem;
                                color: #ccc;

                                .bi-clock {
                                    margin-top: -3px;
                                }
                            }

                            .regular {
                                font-size: 0.9rem;
                                color: #ccc;

                                .bi-play-circle {
                                    margin-top: -3px;
                                }
                            }

                            .imdbandmal {
                                position: absolute;
                                bottom: 5px;
                                left: 0px;
                                display: flex;

                                .mal {
                                    color: #ffffff;
                                    background-color: #2e51a2;
                                    padding: 3px;
                                    font-size: 1rem;
                                    font-weight: 600;
                                    border-radius: 0px 5px 5px 0px;
                                }

                                .imdb {
                                    color: #000000;
                                    background-color: #F5C518;
                                    padding: 3px;
                                    font-size: 1rem;
                                    font-weight: 600;
                                    border-radius: 5px 0px 0px 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width:1500px) {
    .globalcontent {

        .usercontent {
            padding: 24px 16px;
        }

    }

}

@media only screen and (max-width:1200px) {
    .globalcontent {

        .usercontent {

            .userr {

                .usernameandoption {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .username {
                        font-size: 1rem;
                        line-height: 1;
                    }

                    .option {
                        font-size: 1rem;

                        a {
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:650px) {
    .globalcontent {

        .usercontent {

            .userr {
                padding: 0px;

                .userdetail {
                    display: flex;
                    flex-direction: column;

                    .image {
                        width: 100%;

                        .addfriend {
                            left: 55%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:450px) {
    .activity {
        width: 100%;
        margin-top: 50px;

        .head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0px 8px;
            margin-bottom: 10px;

            .title {
                color: #ffffff;
                display: flex;
                align-items: center;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;

                svg {
                    margin-right: 3px;
                }
            }
        }

        .detail {
            width: 100%;
            height: auto;

            a {
                text-decoration: none;
                color: #ffffff;
                transition: background-color 0.3s ease-in-out;
                display: flex;
                border-radius: 10px;
                margin: 16px 0px;
                background-color: rgba(0, 0, 0, 0.3);
                position: relative !important;

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .box {
                    margin-right: 0px !important;

                    img {
                        width: 100% !important;
                        filter: brightness(0.5);
                        border-radius: 10px 0px 0px 10px;
                    }
                }

                .text {
                    width: 100%;
                    position: absolute !important;
                    bottom: 30px !important;

                    .title {
                        top: 5px;
                        font-size: 1rem;
                        font-weight: 500;
                        color: #ff7f00 !important;
                        font-style: normal;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                    }

                    .othername {
                        position: absolute;
                        top: 30px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 1rem !important;
                        font-weight: 500 !important;
                        color: #ffffff !important;

                        .bi-braces-asterisk {
                            margin-top: -3px;
                        }
                    }

                    .date {
                        margin-top: 52px;
                        font-size: 1rem !important;
                        font-weight: 500 !important;
                        color: #ffffff !important;

                        .bi-clock {
                            margin-top: -3px;
                        }
                    }

                    .regular {
                        position: absolute;
                        font-size: 1rem !important;
                        font-weight: 500 !important;
                        color: #ffffff !important;

                        .bi-play-circle {
                            margin-top: -3px;
                        }
                    }

                    .imdbandmal {
                        display: none !important;
                    }
                }
            }
        }
    }
}