.globalcontent {
  position: relative;
  height: auto;
}
.globalcontent .opacitybutton {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0px 0px 25px;
  z-index: 999;
  cursor: pointer;
}
.globalcontent .opacitybutton button {
  background-color: transparent;
  border: none;
  outline: none;
}
.globalcontent .opacitybutton button svg {
  color: #ffffff;
}
.globalcontent .contentimg {
  position: absolute;
  z-index: -9999;
}
.globalcontent .contentimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.globalcontent .contentimg::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #000000 100%);
}
.globalcontent .usercontent {
  padding: 2rem 10rem;
}
.globalcontent .usercontent .userr {
  padding: 10px;
  border-radius: 10px;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.globalcontent .usercontent .userr.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.globalcontent .usercontent .userr .usernameandoption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.globalcontent .usercontent .userr .usernameandoption .username {
  color: #ff7f00;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 0.9;
  display: flex;
  align-items: end;
}
.globalcontent .usercontent .userr .usernameandoption .username .bi-person-circle {
  margin-right: 3px;
}
.globalcontent .usercontent .userr .usernameandoption .option {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}
.globalcontent .usercontent .userr .usernameandoption .option button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  line-height: 0.9;
  display: flex;
  align-items: end;
}
.globalcontent .usercontent .userr .usernameandoption .option button:hover {
  color: #ff7f00;
}
.globalcontent .usercontent .userr .usernameandoption .option button .bi-gear {
  margin-right: 3px;
}
.globalcontent .usercontent .userr .modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.globalcontent .usercontent .userr .modal .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.globalcontent .usercontent .userr .modal .modal-dialog .buttons button {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin: 0px 5px;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.globalcontent .usercontent .userr .modal .modal-dialog .buttons button:hover {
  border-bottom: 2px solid #ff7f00;
}
.globalcontent .usercontent .userr .modal .modal-dialog .buttons button.active {
  border-bottom: 2px solid #ff7f00;
  color: #ff7f00;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt {
  display: none;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt.active {
  display: block;
  color: #fff;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user {
  padding: 10px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture .image {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture .buttons {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture .buttons .updatebtn {
  padding: 5px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 10px;
  width: 108px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture .buttons .updatebtn:hover {
  background-color: #ffffff;
  color: #000000;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture .buttons .deletebtn {
  padding: 5px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 10px;
  width: 108px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture .buttons .deletebtn:hover {
  background-color: #ffffff;
  color: #000000;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture input[type=file] {
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  max-width: 240px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .picture input[type=file]::file-selector-button {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background .image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background .buttons {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background .buttons .updatebtn {
  padding: 5px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 10px;
  width: 108px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background .buttons .updatebtn:hover {
  background-color: #ffffff;
  color: #000000;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background .buttons .deletebtn {
  padding: 5px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 10px;
  width: 108px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background .buttons .deletebtn:hover {
  background-color: #ffffff;
  color: #000000;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background input[type=file] {
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  max-width: 240px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .background input[type=file]::file-selector-button {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .text {
  width: 100%;
  margin-top: 10px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .text .title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .pictureandabout .text textarea {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 150px;
  resize: vertical;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata .box {
  width: 100%;
  margin: 10px 0px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata .box .title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata .box input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
  outline: none;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata .box .password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata .box .password-wrapper input {
  flex: 1;
  padding-right: 40px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
  outline: none;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .otherdata .box .password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ff7f00;
  font-size: 18px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle {
  margin-top: 5px;
  /* From Uiverse.io by Muaz-Aldalil */
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle .title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle .toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle .toggle-switch {
  background-color: gray;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle .toggle-switch::before {
  content: "";
  font-weight: 900;
  background-color: #000000;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  transition: 0.3s;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle .toggle-checkbox:checked + .toggle-switch {
  background-color: #ffffff;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .user .toggle .toggle-checkbox:checked + .toggle-switch::before {
  content: "";
  left: 50px;
  color: #ffffff;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .buttonw {
  margin-top: 10px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .buttonw .save {
  padding: 5px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 10px;
  width: 100px;
  transition: all 0.2s ease-in-out;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .buttonw .save:hover {
  background-color: #ffffff;
  color: #000000;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .search {
  position: relative;
  width: 100%;
  margin: 0px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .search .bi-search {
  position: absolute;
  color: #ffffff;
  top: 7px;
  left: 5px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .search input {
  background-color: #252525;
  outline: none;
  border: none;
  padding: 7px 7px 7px 35px;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users {
  max-height: 410px;
  width: 100%;
  color: #ffffff;
  margin-top: 15px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user {
  text-decoration: none;
  margin: 16px 0px;
  padding: 0px;
  width: 100%;
  position: relative;
  align-items: center;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user .text {
  padding: 0px 6px;
  width: 70%;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user .text .title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.1;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user .text .des {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user .userfollow {
  position: absolute;
  right: 10px;
}
.globalcontent .usercontent .userr .modal .modal-dialog .content-texttt .users .user .userfollow .bi-person-slash {
  margin-top: 50%;
  transform: translateY(-35%);
  color: #ff7f00;
}
.globalcontent .usercontent .userr .userdetail {
  margin-top: 20px;
  display: flex;
}
.globalcontent .usercontent .userr .userdetail .image {
  min-width: 180px;
  min-height: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.globalcontent .usercontent .userr .userdetail .image img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.globalcontent .usercontent .userr .userdetail .image .addfriend {
  position: absolute;
  top: 110px;
  left: 115px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #313131;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.globalcontent .usercontent .userr .userdetail .image .addfriend .bi-person-fill-add {
  color: #ff7f00;
}
.globalcontent .usercontent .userr .userdetail .image .addfriend:hover .bi-person-fill-add {
  color: #313131;
}
.globalcontent .usercontent .userr .userdetail .image .addfriend:hover {
  background-color: #ff7f00;
}
.globalcontent .usercontent .userr .userdetail .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 180px;
}
.globalcontent .usercontent .userr .userdetail .about .title {
  display: flex;
  align-items: end;
  color: #ffffff;
  line-height: 1.1;
  font-size: 1rem;
  font-weight: 600;
}
.globalcontent .usercontent .userr .userdetail .about .title .bi-info-circle {
  margin-right: 5px;
}
.globalcontent .usercontent .userr .userdetail .about .des {
  color: #ffffff;
  width: 100%;
  min-height: 100px;
  max-height: 130px;
  overflow: auto;
  word-break: break-word;
  line-height: 1.2;
  margin: 8px 0px;
}
.globalcontent .usercontent .userr .userdetail .about .other {
  width: 100%;
  display: flex;
  height: 18px;
  align-items: center;
  color: #ffffff;
}
.globalcontent .usercontent .userr .userdetail .about .other .date,
.globalcontent .usercontent .userr .userdetail .about .other .favorite,
.globalcontent .usercontent .userr .userdetail .about .other .watchlater,
.globalcontent .usercontent .userr .userdetail .about .other .takipci {
  display: flex;
  align-items: end;
  line-height: 1;
  margin-right: 8px;
}
.globalcontent .usercontent .userr .userdetail .about .other .date svg,
.globalcontent .usercontent .userr .userdetail .about .other .favorite svg,
.globalcontent .usercontent .userr .userdetail .about .other .watchlater svg,
.globalcontent .usercontent .userr .userdetail .about .other .takipci svg {
  margin-right: 2px;
}
.globalcontent .usercontent .userr .userdetail .about .other .takipci {
  background-color: transparent;
  border: none;
  color: #ffffff;
  transition: all 0.3;
  display: flex;
  align-items: end;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}
.globalcontent .usercontent .userr .userdetail .about .other .takipci:hover {
  color: #ff7f00;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog .buttons button {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin: 0px 5px;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog .buttons button:hover {
  border-bottom: 2px solid #ff7f00;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog .buttons button.active {
  border-bottom: 2px solid #ff7f00;
  color: #ff7f00;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog .content-textt {
  display: none;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog .content-textt .title {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-dialog .content-textt.active {
  display: block;
  color: #fff;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .search {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .search .bi-search {
  position: absolute;
  color: #ffffff;
  top: 7px;
  left: 5px;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .search input {
  background-color: #252525;
  outline: none;
  border: none;
  padding: 7px 7px 7px 35px;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users {
  max-height: 435px;
  width: 100%;
  color: #ffffff;
  margin: 15px 0px;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user {
  text-decoration: none;
  margin: 16px 0px;
  width: 100%;
  position: relative;
  align-items: center;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user .text {
  padding: 0px 6px;
  width: 70%;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user .text .title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.1;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user .text .dess {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user .userfollow {
  position: absolute;
  right: 10px;
}
.globalcontent .usercontent .userr .userdetail .takipci-modal .modal-content .modal-body .users .user .userfollow .bi-person-fill-add {
  margin-top: 50%;
  transform: translateY(-35%);
  color: #ff7f00;
}
.globalcontent .usercontent .userr .favoriteandwatch {
  width: 100%;
  margin-top: 50px;
}
.globalcontent .usercontent .userr .favoriteandwatch .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  margin-bottom: 10px;
}
.globalcontent .usercontent .userr .favoriteandwatch .head .title {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.globalcontent .usercontent .userr .favoriteandwatch .head .title svg {
  margin-right: 3px;
}
.globalcontent .usercontent .userr .favoriteandwatch .head .all .allbtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}
.globalcontent .usercontent .userr .favoriteandwatch .head .all .allbtn:hover {
  color: #ff7f00;
}
.globalcontent .usercontent .userr .favoriteandwatch .head .all .allbtn svg {
  margin-right: 3px;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide {
  position: relative;
  z-index: 99;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list {
  transition: all 0.3s ease-out;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list .splide__slide {
  display: flex;
  justify-content: center;
  width: 100%;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list .splide__slide .anime {
  text-decoration: none;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0px 8px;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list .splide__slide .anime:hover img {
  filter: brightness(1);
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list .splide__slide .anime img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  filter: brightness(0.6);
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list .splide__slide .anime .text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 0px 5px 5px 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.globalcontent .usercontent .userr .favoriteandwatch .splide .splide__list .splide__slide .anime .text .title {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .search {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .search .bi-search {
  position: absolute;
  color: #ffffff;
  top: 7px;
  left: 5px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .search input {
  background-color: #252525;
  outline: none;
  border: none;
  padding: 7px 7px 7px 35px;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .animeler {
  max-height: 445px;
  width: 100%;
  color: #ffffff;
  margin: 10px 0px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .animeler .anime {
  text-decoration: none;
  margin: 0px 0px 15px 0px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .animeler .anime img {
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .animeler .anime .text {
  padding: 0px 6px;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .animeler .anime .text .title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.1;
}
.globalcontent .usercontent .userr .favoriteandwatch .modal-favoriteandwatch .modal-dialog .modal-content .modal-body .animeler .anime .text .des {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
  line-height: 1;
}
.globalcontent .usercontent .userr .activity {
  width: 100%;
  margin-top: 50px;
}
.globalcontent .usercontent .userr .activity .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  margin-bottom: 10px;
}
.globalcontent .usercontent .userr .activity .head .title {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.globalcontent .usercontent .userr .activity .head .title svg {
  margin-right: 3px;
}
.globalcontent .usercontent .userr .activity .detail {
  width: 100%;
  height: auto;
}
.globalcontent .usercontent .userr .activity .detail a {
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  border-radius: 10px;
  margin: 16px 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
.globalcontent .usercontent .userr .activity .detail a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.globalcontent .usercontent .userr .activity .detail a .box {
  margin-right: 10px;
}
.globalcontent .usercontent .userr .activity .detail a .box img {
  width: 250px;
  height: auto;
  border-radius: 10px 0px 0px 10px;
}
.globalcontent .usercontent .userr .activity .detail a .text {
  width: 100%;
  position: relative;
}
.globalcontent .usercontent .userr .activity .detail a .text .title {
  position: absolute;
  top: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #ff7f00;
  font-style: normal;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.globalcontent .usercontent .userr .activity .detail a .text .othername {
  position: absolute;
  top: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #ccc;
}
.globalcontent .usercontent .userr .activity .detail a .text .othername .bi-braces-asterisk {
  margin-top: -3px;
}
.globalcontent .usercontent .userr .activity .detail a .text .date {
  margin-top: 52px;
  font-size: 0.9rem;
  color: #ccc;
}
.globalcontent .usercontent .userr .activity .detail a .text .date .bi-clock {
  margin-top: -3px;
}
.globalcontent .usercontent .userr .activity .detail a .text .regular {
  font-size: 0.9rem;
  color: #ccc;
}
.globalcontent .usercontent .userr .activity .detail a .text .regular .bi-play-circle {
  margin-top: -3px;
}
.globalcontent .usercontent .userr .activity .detail a .text .imdbandmal {
  position: absolute;
  bottom: 5px;
  left: 0px;
  display: flex;
}
.globalcontent .usercontent .userr .activity .detail a .text .imdbandmal .mal {
  color: #ffffff;
  background-color: #2e51a2;
  padding: 3px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0px 5px 5px 0px;
}
.globalcontent .usercontent .userr .activity .detail a .text .imdbandmal .imdb {
  color: #000000;
  background-color: #F5C518;
  padding: 3px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px 0px 0px 5px;
}

@media only screen and (max-width: 1500px) {
  .globalcontent .usercontent {
    padding: 24px 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .globalcontent .usercontent .userr .usernameandoption {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .globalcontent .usercontent .userr .usernameandoption .username {
    font-size: 1rem;
    line-height: 1;
  }
  .globalcontent .usercontent .userr .usernameandoption .option {
    font-size: 1rem;
  }
  .globalcontent .usercontent .userr .usernameandoption .option a {
    line-height: 1;
  }
}
@media only screen and (max-width: 650px) {
  .globalcontent .usercontent .userr {
    padding: 0px;
  }
  .globalcontent .usercontent .userr .userdetail {
    display: flex;
    flex-direction: column;
  }
  .globalcontent .usercontent .userr .userdetail .image {
    width: 100%;
  }
  .globalcontent .usercontent .userr .userdetail .image .addfriend {
    left: 55%;
  }
}
@media only screen and (max-width: 450px) {
  .activity {
    width: 100%;
    margin-top: 50px;
  }
  .activity .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    margin-bottom: 10px;
  }
  .activity .head .title {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .activity .head .title svg {
    margin-right: 3px;
  }
  .activity .detail {
    width: 100%;
    height: auto;
  }
  .activity .detail a {
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    border-radius: 10px;
    margin: 16px 0px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative !important;
  }
}
@media only screen and (max-width: 450px) and (hover: hover) and (pointer: fine) {
  .activity .detail a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 450px) {
  .activity .detail a .box {
    margin-right: 0px !important;
  }
  .activity .detail a .box img {
    width: 100% !important;
    filter: brightness(0.5);
    border-radius: 10px 0px 0px 10px;
  }
  .activity .detail a .text {
    width: 100%;
    position: absolute !important;
    bottom: 30px !important;
  }
  .activity .detail a .text .title {
    top: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #ff7f00 !important;
    font-style: normal;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .activity .detail a .text .othername {
    position: absolute;
    top: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #ffffff !important;
  }
  .activity .detail a .text .othername .bi-braces-asterisk {
    margin-top: -3px;
  }
  .activity .detail a .text .date {
    margin-top: 52px;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #ffffff !important;
  }
  .activity .detail a .text .date .bi-clock {
    margin-top: -3px;
  }
  .activity .detail a .text .regular {
    position: absolute;
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #ffffff !important;
  }
  .activity .detail a .text .regular .bi-play-circle {
    margin-top: -3px;
  }
  .activity .detail a .text .imdbandmal {
    display: none !important;
  }
}/*# sourceMappingURL=user.css.map */