:root {
    --plyr-color-main: #ff7f00;
    --primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-color: #ffffff;
    --secondary-text-color: #aaa;
    --accent-color: #ff7f00;
    --background-dark: #202020;
    --background-darker: #000000;
    --mal-color: #2e51a2;
    --imdb-color: #F5C518;
    --red-color: red;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 16px;
    --spacing-lg: 20px;
}

.watchtogetherdetail {
    display: flex;
    width: 100%;
}

.watchtogetherdetail .watchanduser {
    flex-direction: column;
    width: calc(100% - 350px);
}

.watchtogetherdetail .watchanduser .user {
    min-height: 60px;
    width: 100%;
    margin: var(--spacing-xs) 0;
    padding: 0 var(--spacing-md);
    overflow-wrap: break-word;
}

.watchtogetherdetail .watchanduser .user .title {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1;
    display: block;
    align-items: center;
    width: 100%;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watchtogetherdetail .watchanduser .user .title svg {
    margin-bottom: 3px;
    margin-right: var(--spacing-xs);
}

.watchtogetherdetail .watchanduser .user .others {
    color: var(--text-color);
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
}

.watchtogetherdetail .watchanduser .user .others .animename {
    font-size: 1rem;
    margin-right: var(--spacing-xs);
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}

.watchtogetherdetail .watchanduser .user .others .episode {
    font-size: 1rem;
    margin-left: var(--spacing-xs);
    color: var(--secondary-text-color);
    font-weight: 600;
    white-space: nowrap;
    /* Kesinlikle alt satıra geçmesin */
    flex-shrink: 0;
    /* Episode asla daralmasın */
}

.watchtogetherdetail .watchanduser .animedetail {
    width: 100%;
    padding: var(--spacing-md);
}

.watchtogetherdetail .watchanduser .animedetail .user {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.watchtogetherdetail .watchanduser .animedetail .user .imgandname {
    display: flex;
    align-items: center;
}

.watchtogetherdetail .watchanduser .animedetail .user .imgandname img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    margin-right: var(--spacing-sm);
}

.watchtogetherdetail .watchanduser .animedetail .user .imgandname .nameanddate {
    flex-direction: column;
    display: flex;
}

.watchtogetherdetail .watchanduser .animedetail .user .imgandname .nameanddate .name {
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 500;
}

.watchtogetherdetail .watchanduser .animedetail .user .imgandname .nameanddate .date {
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    line-height: 1;
    margin-top: var(--spacing-xs);
    font-weight: 500;
}

.watchtogetherdetail .watchanduser .animedetail .user .others {
    justify-content: end;
    display: flex;
}

.watchtogetherdetail .watchanduser .animedetail .user .others .viewers,
.watchtogetherdetail .watchanduser .animedetail .user .others .time {
    font-size: 1rem;
    line-height: 1;
    margin-right: var(--spacing-md);
    display: flex;
    align-items: center;
}

.watchtogetherdetail .watchanduser .animedetail .user .others .viewers svg,
.watchtogetherdetail .watchanduser .animedetail .user .others .time svg {
    margin-right: var(--spacing-xs);
}

.watchtogetherdetail .watchanduser .animedetail .user .others button {
    background-color: var(--red-color);
    border: none;
    color: var(--text-color);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: 10px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
    font-weight: 600;
}

.watchtogetherdetail .watchanduser .animedetail .user .others button:hover,
.watchtogetherdetail .watchanduser .animedetail .user .others button:focus {
    background-color: var(--text-color);
    color: var(--red-color);
}

.watchtogetherdetail .watchanduser .animedetail .anime {
    display: flex;
    margin: 50px 0;
}

.watchtogetherdetail .watchanduser .animedetail .anime img {
    width: 230px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--spacing-lg);
    margin-right: var(--spacing-md);
}

.watchtogetherdetail .watchanduser .animedetail .anime .text {
    width: 100%;
    overflow-wrap: break-word;
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .title {
    color: var(--accent-color);
    font-size: 2rem;
    line-height: 1;
    overflow-wrap: break-word;
    font-weight: 600;
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .season,
.watchtogetherdetail .watchanduser .animedetail .anime .text .tur,
.watchtogetherdetail .watchanduser .animedetail .anime .text .year,
.watchtogetherdetail .watchanduser .animedetail .anime .text .episode {
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    font-weight: 500;
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .season svg,
.watchtogetherdetail .watchanduser .animedetail .anime .text .tur svg,
.watchtogetherdetail .watchanduser .animedetail .anime .text .year svg,
.watchtogetherdetail .watchanduser .animedetail .anime .text .episode svg {
    margin-right: var(--spacing-xs);
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .des {
    color: var(--text-color);
    font-size: 0.9rem;
    max-height: 200px;
    overflow-y: auto;
    line-height: 1.1;
    margin-top: var(--spacing-xs);
    overflow-wrap: break-word;
    font-weight: 500;
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .malandimdb {
    display: flex;
    gap: 8px;
    margin-top: var(--spacing-sm);
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .malandimdb .mal {
    color: var(--text-color);
    background-color: var(--mal-color);
    padding: var(--spacing-xs);
    font-size: 1rem;
    border-radius: var(--spacing-xs);
    font-weight: 600;
}

.watchtogetherdetail .watchanduser .animedetail .anime .text .malandimdb .imdb {
    color: #000000;
    background-color: var(--imdb-color);
    padding: var(--spacing-xs);
    font-size: 1rem;
    border-radius: var(--spacing-xs);
    font-weight: 600;
}

.watchtogetherdetail .chat {
    width: 350px;
    height: calc(100vh - 60px);
    background-color: var(--background-dark);
    position: fixed;
    top: 60px;
    right: 0;
    padding: var(--spacing-sm);
}

.watchtogetherdetail .chat .message {
    height: calc(100% - 60px);
    margin-bottom: var(--spacing-md);
    overflow-y: auto;
}

.watchtogetherdetail .chat .message .messagebox {
    padding: var(--spacing-sm);
    background-color: var(--background-darker);
    color: var(--text-color);
    margin: var(--spacing-sm) 0;
    border-radius: 10px;
}

.watchtogetherdetail .chat .message .messagebox .name {
    font-size: 1rem;
    line-height: 1;
    color: var(--accent-color);
    font-weight: 600;
}

.watchtogetherdetail .chat .message .messagebox .text {
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 500;
}

.watchtogetherdetail .chat .comment {
    display: flex;
    gap: var(--spacing-xs);
}

.watchtogetherdetail .chat .comment input {
    flex: 1;
    border: none;
    outline: none;
    padding: var(--spacing-xs);
    border-radius: var(--spacing-xs);
}

.watchtogetherdetail .chat .comment button {
    padding: 4px 8px;
    border-radius: var(--spacing-xs);
    border: none;
    background-color: var(--accent-color);
    color: #000000;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

.watchtogetherdetail .chat .comment button:hover,
.watchtogetherdetail .chat .comment button:focus {
    background-color: var(--background-darker);
    color: var(--accent-color);
}

.player-wrapper {
    position: relative;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.background .brightnessbackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background .brightnessbackground img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}

.background .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-darker);
    padding: 15px;
    width: 400px;
    border-radius: var(--spacing-lg);
    flex-direction: column;
    align-items: center;
    display: flex;
}

.background .box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.background .box .text {
    width: 100%;
    text-align: center;
}

.background .box .text .des {
    color: #ddd;
    font-size: 0.9rem;
    margin-top: var(--spacing-xs);
}

.background .box .text .title {
    color: var(--text-color);
    font-size: 1rem;
    margin-top: var(--spacing-xs);
    font-weight: 600;
}

.background .box .linkbox {
    background-color: var(--background-dark);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-top: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.background .box .linkbox .des {
    color: #ddd;
    font-size: 0.9rem;
}

.background .box .linkbox .title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.background .box .linkbox .title #roomLink {
    font-size: 1rem;
    margin-right: 8px;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 600;
}

.background .box .linkbox .title button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 0;
    margin-bottom: 12px;
}

.background .box .linkbox .title #toast {
    visibility: hidden;
    min-width: 120px;
    background-color: var(--background-darker);
    color: var(--text-color);
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    font-size: 14px;
}

.background .box .linkbox .title #toast.show {
    visibility: visible;
    opacity: 1;
}

.background .box button {
    background-color: var(--accent-color);
    border: none;
    color: #000000;
    padding: var(--spacing-xs) var(--spacing-sm);
    margin-top: var(--spacing-sm);
    border-radius: 10px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.background .box button:hover,
.background .box button:focus {
    background-color: var(--background-dark);
    color: var(--accent-color);
}

#plyr {
    font-family: var(--primary-font);
}

.plyr__menu,
.plyr__captions {
    font-family: var(--primary-font);
}

.plyr__captions {
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.plyr__controls {
    flex-direction: column;
    gap: 8px;
    padding: 0 var(--spacing-sm);
    display: flex;
}

.custom-top-controls {
    width: 100%;
}

.custom-bottom-controls {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    display: flex;
}

.plyr__progress__container {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}

#collectionModal {
    top: 60px;
}

#collectionModal .dropdown {
    margin: var(--spacing-sm) 0;
}

#collectionModal .dropdown button {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    outline: none;
}

#collectionModal .dropdown .dropdown-menu {
    width: 100%;
    background-color: #313131;
}

#collectionModal .dropdown .dropdown-menu a {
    color: var(--text-color);
    transition: all 0.1s ease-out;
}

#collectionModal .dropdown .dropdown-menu a:hover {
    color: #000000;
}

#collectionModal .bolumler {
    height: 200px;
}

#collectionModal .bolumler a:nth-child(odd) {
    background-color: #252525;
    margin-right: var(--spacing-xs);
    padding: var(--spacing-sm);
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#collectionModal .bolumler a:nth-child(even) {
    background-color: var(--background-dark);
    margin-right: var(--spacing-xs);
    padding: var(--spacing-sm);
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#collectionModal .bolumler a.active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
}

#collectionModal .bolumler a .episode {
    margin-right: var(--spacing-xs);
    font-weight: 600;
}

#collectionModal .bolumler a .title {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width:1400px) {
    .player-wrapper {
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }
}

@media only screen and (max-width: 1300px) {

    .background .box {
        padding: 0;
        width: 360px;
        border-radius: var(--spacing-lg);
        flex-direction: column;
        align-items: center;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--background-darker);
    }

    .watchtogetherdetail .watchanduser {
        width: calc(100% - 300px);
    }

    .watchtogetherdetail .chat {
        width: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .watchtogetherdetail {
        flex-direction: column;
    }

    .watchtogetherdetail .watchanduser .animedetail .anime {
        display: none;
    }

    .watchtogetherdetail .watchanduser {
        width: 100%;
    }

    .watchtogetherdetail .chat {
        width: 100%;
        height: 400px;
        position: static;
    }
}

@media only screen and (max-width: 650px) {
    .plyr__controls__item.plyr__menu {
        display: none;
    }

    .plyr button[data-plyr="pip"] {
        display: none;
    }

    .watchtogetherdetail .watchanduser .animedetail .user {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        display: flex;
    }

    .watchtogetherdetail .watchanduser .animedetail .user .imgandname {
        margin-bottom: var(--spacing-sm);
    }

    .watchtogetherdetail .watchanduser .animedetail .user .others .viewers,
    .watchtogetherdetail .watchanduser .animedetail .user .others .time {
        font-size: 0.9rem;
    }

    .watchtogetherdetail .watchanduser .animedetail .user .others button {
        padding: 3px var(--spacing-xs);
        font-weight: 500;
    }

    .plyr__volume,
    .plyr__controls .plyr__control[data-plyr="settings"] {
        display: none;
    }

    .background .box img {
        display: none;
    }
}